[2019-07-12 09:37] mwarning opened #2 "crash: "Unable to find any matching EGL config""
The crash happens when the Android 5 phone accepts the call (either receiving or initiating).
[code]

[2019-07-12 09:37] mwarning commented on #2
@dakhnod do you have an idea?

[2019-07-12 09:42] mwarning commented on #2
Another stack trace:
[code]

[2019-08-17 22:41] mwarning commented on #2
Closing for now. The code has changed. Maybe the error is gone.

[2019-08-17 22:41] #2 closed

[2019-08-17 22:48] mwarning opened #3 "add address management"
Currently, addresses can be add to a comma separated list.
Also, on startup, you have to enable WiFi, so you have at least one address set. Java does not allow the get the MAC address if the interface is not running.

Better:
A window in the settings to add/remove addresses. All current MAC addresses (that are no yet in the settings) can be listed there for the user to add them to the settings.
Ol

[2019-08-17 22:53] mwarning opened #4 "online status"
We only have online and offline status for clients. But what is behind this is not yet clear.

What we want:
- online/green: the client phone can be reached, is running meshenger and is the one we expect to be
- ?/grey: the phone can be reached, but meshenger does not run
- offline: the phone cannot be reached at all

Currently a client is displayed as online even when it does not reply with a val

[2019-08-17 22:54] mwarning opened #5 "mutlicast support"
See https://github.com/dakhnod/Meshenger/issues/5

[2019-08-17 22:56] mwarning opened #6 "do not send messages as hex string"
This was mostly lazy working on my part.
We would need to implement a header value that contains the message size.

[2019-08-17 22:56] mwarning opened #7 "chat support"
This would be a major feature...

[2019-08-17 22:58] mwarning opened #8 "salt the database password"
Use libsodiums crypto_pwhash_*

[2019-08-17 22:59] mwarning commented on #4
A less bright green would also be nice. :P

[2019-08-17 23:03] mwarning opened #9 "allow database export/(import) with password"
Instead of exporting the database in clear text, a checkbox to allow this would be nice.

[2019-08-17 23:12] mwarning opened #10 "allow unknown callers"
The setting "Ignore unknown callers" does not serve and purpose right now, since unknown callers is not supported by 2.0.0. Implementing this this with crypto is a bit tricky as the libsodium API for the crypto_box_*_easy do not quite allow for that. But in theory this should be no big issue.

[2019-08-17 23:35] mwarning commented on #3
Not only the current MAC addresses, but also all other IPV6 / IPV4 addresses can be listed and selected.

[2019-08-18 21:23] mwarning opened #11 "more translations"
See https://github.com/dakhnod/Meshenger/issues/17

[2019-08-20 14:15] mwarning opened #12 "Allow to set ICE servers"
In cases where NAT needs to be traversed, ICE servers need to be set.
This only makes sense with servers. So this will be a bit tricky to integrate and keep apart from the core feature.

[2019-08-25 19:45] mwarning commented on #9
will be fixed in 2.1.0

[2019-08-25 19:45] mwarning commented on #3
wlll be resolved in 2.1.0

[2019-08-27 00:59] #3 closed

[2019-08-27 00:59] #9 closed

[2019-08-29 12:39] mwarning commented on #6
will be fixed in 3.0.0

[2019-08-29 12:39] #6 closed

[2019-08-29 12:40] mwarning commented on #10
fixed in 3.0.0

[2019-08-29 12:40] #10 closed

[2019-08-29 12:42] mwarning opened #15 "allow to add unknown callers to contact list"
After and unknown caller has called, allow to add the contact.
Maybe use a call history for that? A dialog after the call is probably too anoying.

[2019-08-29 12:46] mwarning commented on #15
a tab in the contact list would be good idea.

[2019-08-29 21:29] userkilled opened #16 "Crash"
java.lang.NullPointerException: Attempt to read from field 'd.d.meshenger.Settings d.d.meshenger.Database.settings' on a null object reference
	at d.d.meshenger.MainService$MainBinder.getSettings(MainService.java:387)
	at d.d.meshenger.MainService$MainBinder.pingContacts(MainService.java:378)
	at d.d.meshenger.ContactListActivity.onServiceConnected(ContactListActivity.java:306)
	at android.app.Loa

[2019-08-29 21:34] mwarning commented on #16
What version is that? Did you compile it yourself or is it from f-droid?

[2019-08-29 21:44] userkilled commented on #16
![Screenshot_2019-08-30-00-42-58-980_org fdroid fdroid](https://user-images.githubusercontent.com/39238592/63978593-5b400f80-cabf-11e9-8467-58c212d32962.png)

[2019-08-29 21:47] mwarning commented on #16
ok, f-droid version 2.1.0. :-)

Does it crash doing specific actions? For example, adding a contact. or doing a call.

[2019-08-29 21:50] userkilled commented on #16
This only happens when minimizing the application in MIUI 10.3.

[2019-08-29 21:59] userkilled commented on #16
I can’t call another phone, writes 'Error'

[2019-08-29 22:00] mwarning commented on #16
ok, have the qr codes been shared both ways?

[2019-08-29 22:00] userkilled commented on #16
Yes

[2019-08-29 22:02] userkilled commented on #16
And they have one local area network.

[2019-08-29 22:08] mwarning commented on #16
Can you show the configured mac address that both devices have configured and the fe80 address they have? (maybe change same values for different ones for privacy).

So far I do not know why this is happening.

[2019-08-29 22:18] userkilled commented on #16
![Screenshot_2019-08-30-01-15-03-458_d d meshenger](https://user-images.githubusercontent.com/39238592/63980225-9f351380-cac3-11e9-9564-cb51c7fa9b24.png)
![20190830_011557](https://user-images.githubusercontent.com/39238592/63980277-c1c72c80-cac3-11e9-8fd4-49db58a64d2b.jpg)

[2019-08-29 22:29] mwarning commented on #16
And what is the fe80* address that is shown in the "Currently Active"  drop down address box when you click on "Change Address"?

[2019-08-29 22:37] userkilled commented on #16
![Screenshot_2019-08-30-01-31-04-802_d d meshenger](https://user-images.githubusercontent.com/39238592/63981166-a1e53800-cac6-11e9-9466-e0cf161289dc.png)
![20190830_013247](https://user-images.githubusercontent.com/39238592/63981179-add0fa00-cac6-11e9-85e8-3b53069deae7.jpg)

[2019-08-29 22:37] userkilled commented on #16
It's?

[2019-08-29 22:47] mwarning commented on #16
Yes, that is very helpful. Please change the selected MAC address to the one assigned to `wlan0` on both devices and exchange the qr code again both ways. Then it should work.

I wonder why the MAC address of interface `rmnet1` was chosen by the app in the first place.

[2019-08-29 23:17] userkilled commented on #16
I chose these interfaces to hide the address, but in fact, there were macs from the manufacturer.  The problem is not in the interfaces.

[2019-08-29 23:26] mwarning commented on #16
Meshenger cannot change the systems MAC address... That is not made clear by the interface, yet.

[2019-08-29 23:37] userkilled commented on #16
I wanted to say that there was a MAC (wlan0).

[2019-09-01 08:52] horstle opened #17 "Audio Call with screen turned off"
Hi, I just tested this app a bit and though it worked great while the app was open, I was surprised that it would always end an audio call as soon as I'd turn off the screen go back to the homescreen.

I think it would be a great improvement if audio calls (and maybe even video calls) could continue to run with the screen turned off or in background.

[2019-09-01 11:24] mwarning commented on #17
I agree, that would be nice. I assume you turned off the screen  manually. I have not found out how to keep audio running, yet.

[2019-09-01 11:50] horstle commented on #17
I have no idea about Java, so I can't look into this myself, but maybe you could find out how they do it eg. in [NewPipe](https://github.com/TeamNewPipe/NewPipe).

[2019-09-02 00:12] mwarning opened #18 "3.0.0 todo list"
- <strike>fix exceptions when adding existing contacts via qr code</strike>
- <strike>add database password salt</strike>
  - <strike>also add upgrade of database encryption</strike> => not applicable. contact keys are not compatible anyway :/
- <strike>add contact name change form if contact with existing name is scanned</strike>
- outgoing call from call history gets interrupted (sometimes)
- <s

[2019-09-08 03:30] leela52452 opened #19 "add changelog"
can you please add changelog.
what is [CHANGELOG](https://en.m.wikipedia.org/wiki/Changelog) ?

[2019-09-08 10:28] mwarning commented on #19
Like this? https://github.com/mwarning/trigger/tree/master/metadata/android/en-US/changelogs

[2019-09-08 12:13] mwarning commented on #19
There is also the release list that list changes: https://github.com/meshenger-app/meshenger-android/releases

[2019-09-08 15:56] leela52452 commented on #19
oh.... it is part of release. hmm...
i was expecting in a separate file, helps me understand the direction and progress of project over a period of time.
something is better than nothing.

[2019-09-08 15:59] mwarning commented on #19
The thing is that I do not like to take care of multiple changelog locations. While it would be nice, it is a headache to maintain.

[2019-09-08 15:59] #19 closed

[2019-09-16 08:26] mwarning commented on #12
resolved in 3.0.0

[2019-09-16 08:26] #12 closed

[2019-09-16 08:26] mwarning commented on #8
resolved in 3.0.0

[2019-09-16 08:26] #8 closed

[2019-09-16 08:27] mwarning commented on #15
resolved in 3.0.0

[2019-09-16 08:27] #15 closed

[2019-09-19 00:25] mwarning commented on #18
Something that needs to be fixed:
[code]

[2019-09-19 21:36] mvglasow opened #20 "Volume issue after a call has been terminated"
### Steps to reproduce

1. Install Meshenger on two devices and exchange contacts.
2. Establish a call between the devices, verify everything works, then hang up.
3. Call again and re-run the tests.

### Expected results

Step 3 works just as step 2 did.

### Actual results

Step 2 works, but in step 3 the ring volume of the called device is so low that it is barely audible. The same goes for in-c

[2019-09-20 22:38] mwarning commented on #20
No idea why this is happening. Any pull requests are welcome.

[2019-09-21 08:30] mwarning commented on #18
Let's make a release for now.

[2019-09-21 08:30] #18 closed

[2019-09-22 08:52] mwarning opened #22 "make wifi-direct work"
It looks like wifi direct is more involved than simply connecting to some IP address.

[2019-09-22 08:55] mwarning opened #23 "make phone as a hotspot work"
Android does no allow straight connections from the clients to the phone doing the hotspot. Which looks silly to me.
Need to find out what needs to be done to make this possible.

[2019-09-22 09:53] mwarning commented on #23
Looks like this is not possible: https://stackoverflow.com/a/17928091/2445758

[2019-09-22 17:22] mwarning commented on #23
ok, IPv4 works. The problem is that IPv6 link local is blocked! FAQ updated.

[2019-09-22 17:22] #23 closed

[2019-09-22 21:53] mwarning commented on #20
I sometimes experience that the "Unknown Caller" (feature in 3.0.0) does not get through.
3.0.1 will be in froid next week. It would be nice if you could give it a check if the situation has changed.

[2019-09-23 10:40] mwarning commented on #16
3.0.1 will probably be available later this week. It would be nice if you could test if this problem persists.

[2019-09-23 12:46] userkilled commented on #16
Yes, I will check.

[2019-09-23 19:45] labregowski commented on #22
Hi.
I left some time of this week free to visit tis issue.
Do you need me to make any test?
Best

[2019-09-23 20:00] mwarning commented on #22
Not really, I would need to research the topic. But I will barely have any time for the next two weeks. Also, my devices wifi-direct support is broken. (I need to update those phone - still running Android 7.1).
Feel free to have a look at this issue.

[2019-09-23 20:07] mwarning opened #24 "make logging configurable"
Currently, even the release builds output debug output.
This should be configurable as a (development) setting and disabled by default.

[2019-09-24 16:51] mwarning commented on #5
This would be enable communication in mesh networks over network boundaries.

[2019-09-28 12:16] mwarning commented on #24
no debug output in release anymore (with 3.0.2)

[2019-09-28 12:16] #24 closed

[2019-10-03 00:39] labregowski commented on #22
I have it working if you want to let me know what kind of tests you need me to perform for the cause :D

[2019-10-03 08:30] mwarning commented on #22
afaik, there needs to be code written do support wifi-direct, which I haven't done yet. I need to fix the latest release, because fdroid is complaining about (https://f-droid.org/wiki/page/d.d.meshenger/lastbuild). Sorry, I do not have time this week.

[2019-10-03 17:11] labregowski commented on #22
NP. when you need me, pls let me know

[2019-10-06 21:56] dbdonb opened #25 "Allow loudspeaker while on video mode!"
Currently, when you are on a video call, you are forced to get the phone close to ears (while you aren't on earphones obviously) as there is no loudspeaker provision. So, the basic idea of video call fails since you are forced to hold the phone close to the ears and end up seeing the other person's ears only.

[2019-10-07 00:17] mwarning commented on #25
Yes, this is not a good idea. But I do not know how to switch to the speakers yet. Pull request are welcome. :-)

[2019-10-07 00:41] dbdonb commented on #25
Well, tbh, this is the only app for android which is so clean, simple & works exactly as intended. No bloatware, no registrations, no ads, etc. So firstly, I'd thank you for bringing up such an app on this platform.

Regarding the pull request, I'm quite a noob when it comes to android dev. However, I guess you could inspect code of apps which provide loudspeaker feature, and implement it here wit

[2019-10-07 01:01] mwarning commented on #25
Thanks. I will try a few things as well.

[2019-10-07 05:45] userkilled opened #26 "crash miui 10.3"
java.lang.NullPointerException: Attempt to read from field 'java.util.ArrayList d.d.meshenger.Database.contacts' on a null object reference
	at d.d.meshenger.MainService$MainBinder.getContactsCopy(MainService.java:394)
	at d.d.meshenger.MainService$MainBinder.pingContacts(MainService.java:378)
	at d.d.meshenger.MainActivity.onServiceConnected(MainActivity.java:86)
	at android.app.LoadedApk$Service

[2019-10-07 12:07] mwarning commented on #26
This seems to be the same issue as #16. Thanks for the update.

I have added a debug build to the release. It should have more debug messages:
https://github.com/meshenger-app/meshenger-android/releases/download/v3.0.3/meshenger-3.0.3-debug.apk

[2019-10-07 12:12] mwarning commented on #26
This error happens when you minimize the app?

[2019-10-07 12:14] mwarning commented on #16
I will close this one in favor of #26. It is probably the same issue.

[2019-10-07 12:14] #16 closed

[2019-10-07 12:16] mwarning opened #27 "Show number of missed calls in header"
Show the number of missed calls in the header. A bit of highlighting would also be nice.

[2019-10-07 12:54] userkilled commented on #26
Yes.

[2019-10-07 14:46] dbdonb opened #28 "Peers unable to detect one anothers' online status after recent update"
After the recent update, peers are unable to detect the online state of other peers. It keeps searching for the status. The loader keeps working, and there's no RED/GREEN state reached.

Details:
I have two peers. Peer-1 (P1) is Android 6 while Peer-2 (P2) is Android 9. Both are connected on same network. P1 & P2 both are configured to bind to their MAC addresses over the required NICs.

What all

[2019-10-07 16:25] mwarning commented on #28
Do both phones have the same version of Meshenger? (2.x is not compatible with 3.x because of crypto changes)

[2019-10-07 16:31] dbdonb commented on #28
Yes, I updated both the phones with the latest version. Both show v3.0.3.

[2019-10-07 17:06] dbdonb commented on #28
BUMP - Update: I downloaded the apk from github this time and installed them, and things worked fine. May be the auto update from F-droid got corrupt for me.

I'm closing this issue. Thanks for the support.

[2019-10-07 17:06] #28 closed

[2019-10-07 17:08] mwarning commented on #28
ok, I was already wondering what the issue could be. But I haven't tested the f-droid build yet. Will do as soon my second phone work again..

[2019-10-08 10:16] mwarning opened #29 "Remove online status?"
This is not very reliable and does network activity even when no call is in progress. So it might simplify a few things.

[2019-10-10 12:35] mwarning commented on #25
@dakhnod do you know how to enable loudspeakers on video calls? I tried a fey things, but nothing worked.

[2019-10-11 17:55] mvglasow commented on #20
Just upgraded and there is now a different issue:

* Launch Meshenger on device 1, device 2 is shown as offline (obviously).
* Launch Meshenger on device 2, it will show the spinning donut next to device 1 forever. Device 1 keeps reporting device 2 as offline.
* Restart Meshenger on device 1, now there is a spinning donut next to device 2 as well.
* Try to make a call (in either direction), call s

[2019-10-11 20:18] mwarning commented on #20
I think the problem is that a change of online status does not update the user interface (but it will be updated if you put Meshenger into background and bring it back into foreground).

Anyway, you should be able to call the other phone even when it is shown as offline. This is mostly a display issue.

[2019-10-11 20:35] mvglasow commented on #20
Yes, the “display not updating” issue has been around before. Even so, if I call a phone shown as offline (but which has come online since), I get the same behavior—Meshenger tries to set up a call but then shows “Error”. Somehow device discovery gets stuck somewhere.

[2019-10-11 20:48] mwarning commented on #20
hm,  ok. Did you exchange the qr-codes with the MAC address configured? And are you connected to the same wifi router? (using one phone as wifi hotspot does not work in both direction - nasty Android behavior..)

[2019-10-11 20:51] mvglasow commented on #20
Yes and yes, same setup I used with the previous version and with which I was able to establish a call there. I simply upgraded and lost the ability to make calls after that, otherwise same environment configuration as before.

[2019-10-11 21:47] mwarning commented on #20
I would love to be able to reproduce the error. But it works for me...

[2019-10-20 21:11] mwarning opened #31 "enable audio/video by default settings"
- enable audio by default
- enable video by default
- accept calls by default

Might be useful in some cases. (but need to keep an eye on possible misuse)

[2019-10-20 21:11] mwarning commented on #27
closing this, as it is implemented in 3.1.0

[2019-10-20 21:11] #27 closed

[2019-10-20 21:12] mwarning commented on #26
I think I also got this kind of error. But it is hard to replicate for me.

[2019-10-21 18:20] mwarning opened #32 "Connection Error"
Sometimes no connection can be established. Only an "Error" is displayed. We need to find out why this happens.

[2019-10-26 08:54] userkilled commented on #26
![Screenshot_2019-10-26-11-52-11-903_com google android packageinstaller](https://user-images.githubusercontent.com/39238592/67616981-434aea80-f7e7-11e9-8e8d-c39e01558929.png)
Not install

[2019-10-26 13:28] mwarning commented on #26
i have never seen this problem. What does the message say?

[2019-10-26 13:40] userkilled commented on #26
failed to install the application.

[2019-10-27 20:12] mwarning commented on #32
This is probably the aggressive power saving used by android Oreo an above. Most connections will not be accepted. Need to research workarounds...

[2019-11-17 18:30] TjlHope commented on #25
Don't know if this helps, but the audio management in linphone-android isn't too bad (though bluetooth headset isn't always detected):     https://github.com/BelledonneCommunications/linphone-android/blob/9a7baf96855b210b0e82f38015cf074d0cbdc987/app/src/main/java/org/linphone/utils/AndroidAudioManager.java#L407

[2019-11-17 20:17] mwarning commented on #25
Hi @TjlHope, I already tried `AudioManager::setSpeakerphoneOn(true);` but without success. Thanks for link, I will give the approach another try when I have time.

[2019-11-17 21:41] TjlHope commented on #25
@mwarning fair enough, I'm afraid although I do a lot of Java, I've not done any android, so can't really help. I know some of the guys at work have played around with linphone internals, so will double check if they found any gotchas.

[2019-12-01 02:10] mwarning commented on #25
The webrtc repo has a demo app that has "all" the audio features (e.g. see https://github.com/zengpeace/apprtcmobile). But it will take some time to merge the code.

[2020-01-05 14:03] anadi198 opened #33 "error: incompatible types: CameraVideoCapturer cannot be converted to boolean"
https://github.com/meshenger-app/meshenger-android/blob/2e766e97ea37e21437b52109f336acc8cfb9f065/app/src/main/java/d/d/meshenger/RTCCall.java#L441
I'm getting the error mentioned in title when building from master branch from Android Studio on the above linked line.

[2020-01-05 14:50] mwarning commented on #33
hi,

in app/build.gradle change:
[code]
But master in currently in flux, because video and probably other stuff needs to be fixed.

[2020-01-05 15:06] anadi198 opened #34 "error: cannot find symbol variable only_necessary_for_android_6_or_later"
https://github.com/meshenger-app/meshenger-android/blob/2e766e97ea37e21437b52109f336acc8cfb9f065/app/src/main/java/d/d/meshenger/SettingsActivity.java#L151
`R.string.only_necessary_for_android_6_or_later` is giving error, I checked and no such item was in strings.xml.

[2020-01-05 15:08] anadi198 commented on #33
That fixed the issue, thank you.
Also, should I not clone the master branch if I want to try to fix an issue?

[2020-01-05 15:10] mwarning commented on #33
If you want to contribute back code, then:
1. fork the project on github.com
2. there, create a branch and apply your changes
3. create a merge request

[2020-01-05 15:12] mwarning commented on #34
just remove the entire line. I currently use the master branch for development. So things like this are to be expected.

[2020-01-05 15:12] #34 closed

[2020-01-05 15:12] #33 closed

[2020-01-05 15:12] anadi198 commented on #33
Okay, thank you for the help!

[2020-01-05 15:13] mwarning commented on #33
glad I can help :)

[2020-01-07 13:44] wuniversales opened #35 "Default random name"
It would be nice to have a random name by default, and then be able to change the name.

[2020-01-07 13:46] mwarning commented on #35
You mean a  random name that is inserted in the initial setup window, so the user only need to click ok instead of inserting something?
Anyway, you can change the name afterwards in the settings menu.

[2020-01-07 13:50] wuniversales commented on #7
Great, it would be nice to be able to send files, audios, video messages, emoticons, to be able to create groups ...

**General idea: The administrators of the group would have some general adjustments for the group, according to the group configuration a category is assigned.**

Generic settings for group administrators:

Give the possibility that the users of the group, add new users, or not.
Al

[2020-01-07 13:53] wuniversales commented on #35
Better not to ask anything, just to start the application with a random name, then if you want to configure the name manually, it can be changed in the settings

[2020-01-07 13:54] mwarning commented on #35
in general, that is a good idea.

[2020-01-09 08:49] eatavegan commented on #7
Instead of reinventing the wheel have you considered instead linklocal xmpp?

https://xmpp.org/extensions/attic/xep-0174-0.14.html

[2020-01-09 15:18] iamvasuh commented on #35
The random name generated (only once) at the start should be different in each device.  @wuniversales please also specify, what will that random name consist of.

[2020-01-12 15:21] ToEatFreshBabies commented on #35
consider random name to be English pronounceable instead of garbage block of consonants like fsdvgfdsnhmm

[2020-01-12 15:23] ToEatFreshBabies commented on #29
Are you suggesting disabling Presence?

[2020-01-12 15:30] ToEatFreshBabies commented on #5
ZeroTier?

https://github.com/zerotier

[2020-01-12 15:31] ToEatFreshBabies commented on #4
The xmpp nomenclature for this is Presence.

[2020-01-12 16:27] wuniversales commented on #35
@iamvasuh
You could, for example, generate a hash based on the current time and date.
If you want the word to make sense, it would be more complicated ...

[2020-01-12 20:46] mwarning commented on #29
Yes. but I think it is best to make it configurable.

[2020-01-12 20:59] mwarning commented on #5
Meshenger should work on ZeroTier networks. But I have not tested it.

[2020-01-28 07:03] eveofdestruction commented on #35
This seems more memorable @ToEatFreshBabies

fire eat fish locker maven noble glitz moat

[2020-01-28 07:10] eveofdestruction opened #36 "ZeroConf"
Is ZeroConf part of the project?

[2020-01-28 23:19] mwarning commented on #36
No. It is not needed. Also, in most mesh networks it won't work.

[2020-01-28 23:19] #36 closed

[2020-02-03 15:14] eatanimals commented on #29
Keep presence always. It prevents rude or untimely interruptions by those with social graces.

[2020-02-03 21:22] mwarning commented on #29
I do not see under what circumstances the presence indicator adds valuable information. If you want to call someone, then call. It might work or not in case the contact does not want to be called (contact is blocked / app or phone is offline).

[2020-02-20 13:38] mattcoxonline commented on #35
I have seen services before today, and I quite like this idea, that the username is constructed by using **adjective-randomword**

This generates usernames such as; _lame-bungalow_, _alarmed-horse_, _exclusive-winks_, _sugary-spider_. And a really simple way to do that would be to just have the placeholder text on this screen be generated from the word list:

<img src="https://github.com/meshenger

[2020-02-20 14:56] mwarning commented on #35
For now I would postpone this change as there are other pressing matters (that is a working/stable app).

[2020-02-20 15:01] mwarning commented on #7
@wuniversales Let's keep things simple and focus on one-to-one text only messaging for now.

[2020-02-21 12:32] wuniversales commented on #7
Yes, of course, for now yes, but in the future to know :)

[2020-02-23 10:36] HumzaAli55 opened #37 "Help for integrating webrtc to an exiting app"
I have a chatting app which works without a central server. I want to integrate webrtc into it for audio/video calling. I see you have integrated it on your app. Can you tell me how you did it? What steps I have to follow?

I am beginner level android developer so explain me accordingly.

[2020-02-23 17:02] mwarning commented on #37
@HumzaAli55 I am not the original author of the Meshenger App. There is a nice android example as part of the webrtc project source called apprtcmobile. Then there https://github.com/vivek1794/webrtc-android-codelab as well and might be a bit simpler.

[2020-02-24 17:44] mwarning commented on #37
I plan to eventually implement a chat functionality. Probably use some code from DeltaChat for that.

[2020-02-24 17:44] #37 closed

[2020-02-24 17:45] mwarning commented on #37
Out of curiosity, what mechanism do you use for contacts to find each other?

[2020-04-10 19:55] Carrie0302 opened #38 "Can't call when connected to the same hotspot"
I'm not sure if you are still supporting this project, but I can not use it to call when connected to the same hotspot.  Also the documentation doesn't seem to have any details on what kind of systems it supports.

[2020-04-10 20:50] mwarning commented on #38
hi, the project is on hold until I have more resources available to push it forward .
Supported are Android Systems greater version 5.0. But there are bugs with version >= 8.0. I think you ran into a bug.

[2020-04-16 17:43] J053Fabi0 opened #39 "iOS app"
Is there any plans for an iOS app.

[2020-04-16 17:51] mwarning commented on #39
There are no plans. It would be nice. But I have no experience with iOS. Maybe someone likes to step in. The only thing I could do is to help.

[2020-05-07 20:09] djsb opened #40 "Can't establish a manual webrtc call to this app"
Is the app following the standard negotiation? I was trying to build a desktop client app that would be compatible with meshenger, but can't seem to establish the video/audio after the initial negotiation. Is the video / audio also encrypted with the keys?

[2020-05-07 21:11] mwarning commented on #40
hi,

the initial webrtc description exchange is encrypted in the code of Meshenger. Both sides needs the other contacts public key for that. After that, it's standard WebRTC communication and streams.

An outgoing call starts here:
https://github.com/meshenger-app/meshenger-android/blob/master/app/src/main/java/d/d/meshenger/RTCCall.java#L136

Then a encrypted JSON string is send. It states the "a

[2020-05-07 21:28] djsb commented on #40
Thank you so much for the extensive detail.
Would I be able to find anywhere in the code a flag/switch/method where, if disabled, would prevent encryption?

This would allow easier debug.

Again, thanks and great project.

[2020-05-07 21:51] mwarning commented on #40
Encryption cannot be disabled, but you bypass it in the code. But it is a bit of work.

[2020-05-12 19:51] mwarning commented on #40
@djsb do you need help?

[2020-06-02 14:14] djsb commented on #40
Hi @mwarning : thank you so much for following-up. I was trying to have some guidance on which methods to bypass to enable a non-encrypted negotiation.

From what I understand, from the moment the negotiation is done, no encryption exists. Would I be correct, assuming that using the method that encrypts to return the original message, would make it not encrypted?

[2020-06-02 14:45] mwarning commented on #40
@djsb  that might work.

Just return the message variable in `decryptMessage(..)` and `encryptMessage()`:
https://github.com/meshenger-app/meshenger-android/blob/master/app/src/main/java/d/d/meshenger/Crypto.java

[2020-06-16 23:31] mwarning opened #41 "Check out videochatguru-android"
This is a reminder for myself to see if https://github.com/netguru/videochatguru-android as webrtc wrapper might solve the remaining issues to be fixed. (e.g. Audio/Headphones)

If it depends on google services or servers etc., then it is of no use.

[2020-06-18 09:14] liuxue0905 opened #42 "[HELP] How to enable localRenderer, i tried, but not success."
I add `setLocalRenderer` in `RTCCall`,
set`org.webrtc.SurfaceViewRenderer @+id/localRenderer`visibility`visible`

and try:

add blow in `RTCCall.handleMediaStream`
[code]

or

add blow in `RTCCall.createStream`
[code]

`localRenderer` did not show any thing.

[2020-08-24 04:46] morfeo9950 opened #43 "Activity d.d.meshenger.CallActivity has leaked IntentReceiver org.webrtc.NetworkMonitorAutoDetect@30e1fd1"
Im gettin this error trying to connect a call to other device.

[2020-08-24 13:20] mwarning commented on #43
hm, the app is not really in a working state, since it needs to be updated to work properly with Android >= 8.0.
Any merge request or even fork to fix this is welcome. :-)

[2020-09-01 14:59] gassechen opened #44 "Error Compile"
Hello this error found try compile de app.

/meshenger/RTCCall.java:441: error: incompatible types: CameraVideoCapturer cannot be converted to boolean
        return factory.createVideoTrack("video1", factory.createVideoSource(this.capturer));

and this

meshenger/SettingsActivity.java:151: error: cannot find symbol
                Toast.makeText(this, getResources().getString(R.string.only_necess

[2020-09-01 15:20] mwarning commented on #44
Let me have a look. I think that is already fixed on my disk.

[2020-09-01 15:34] mwarning commented on #44
Should at least compile now. https://github.com/meshenger-app/meshenger-android/commit/74f9aa6efaf403bda8744a8f9cf598a4d4b4c391

[2020-09-01 15:34] #44 closed

[2020-09-21 08:58] mwarning commented on #42
Sorry, I did not notice this ticket before.

This is the the current problem I have myself before I took an break from this project. Let me know if you fixed this (and even better, make a pull request :-) )

[2020-10-09 16:43] cs8898 opened #46 "can't build locally"
Steps to reproduce

1. Clone Project
2. Build Debug
3. Run on two devices
4. Call each other

App Crashes with SegFault

https://del.dog/ovettattal.txt

[2020-10-09 16:47] mwarning commented on #46
I suspect that is because of the webrtc library update: https://github.com/meshenger-app/meshenger-android/commit/58a581ffdd853a6f08acc2996489ffc885ab4aaf#diff-39e7d8c00954e920b98e7636f0ac30b2

You are better off using the latest release. The master branch is not in a working state.

[2020-10-09 16:58] cs8898 commented on #46
v3.0.3 is working thx

only a NullPointer in Java now
https://del.dog/afupuphico.txt

but propably i can fix it my self

[2020-10-09 16:59] mwarning commented on #46
Awesome. Consider to create a merge request if you a fix. I do not have the time to work on meshenger.

[2020-10-09 17:03] cs8898 commented on #46
Hmm Cam also not working^^

I hoped to have a quick way to establish video feeds in a LAN area...

[2020-10-09 17:08] mwarning commented on #46
This is probably a problem with "newer" Android versions (>=8.0). That is the biggest issue right now.

[2020-10-09 17:08] mwarning commented on #46
You can also try the f-droid build.

[2020-10-09 19:24] #46 closed

[2020-10-19 15:12] marco19551956 opened #47 "Microphone - audio issue"
I have installed the  MESHENGER apk versions 1.0 and also version 3.03 on my Android phones (Android 8 - 9 and 10) and they work very well except one issue.

When a connection is made (audio and/or video), the first time "NO Problems", but when the connection is closed by the caller then the next call the microphone of the called one is not working anymore. The same happens in the other way. After

[2020-10-19 17:57] mwarning commented on #47
Well, the only thing right now is to debug and fix it yourself (and hopefully make a merge request).

[2020-10-20 05:36] marco19551956 commented on #47
Good morning mwarning,
can you explain what a merge request is?
Thanks.

[2020-10-20 17:45] mwarning commented on #47
A Merge Request is a way to contribute code back to this project using github.com.

[2021-01-20 02:06] ultimatee opened #50 "Not working if no wlan?"
If there is no (router) wlan on 2 phones that I want to connect,
just either WiFi Direct between the 2 phones or Android Hotspot on the first and the other connected to first's hotspot,
then no audio or video is transferred.
The phones are reachable (can start a call between them), but no audio or video stream is transferred.

So no "real" router-less walkie-talkie is possible with this app?
Is it

[2021-01-20 07:24] mwarning commented on #50
I have seen this problems with a hotspot on one of the phones. I think because the connection does not allow IPv6 link local connections (that would work on common networks). This would need some further inspection.
Maybe there is a firewall involved.

[2021-01-20 11:45] tusharbaweja264 opened #51 "Null Pointer Exception : On clicking on any contact to call"
2021-01-20 17:14:28.437 29745-29745/d.d.meshenger E/AndroidRuntime: FATAL EXCEPTION: main
    Process: d.d.meshenger, PID: 29745
    java.lang.NullPointerException: Attempt to read from field 'java.util.ArrayList d.d.meshenger.Database.contacts' on a null object reference
        at d.d.meshenger.MainService$MainBinder.getContactsCopy(MainService.java:479)
        at d.d.meshenger.MainService$Main

[2021-01-20 12:59] mwarning commented on #51
This should fix it: https://github.com/meshenger-app/meshenger-android/commit/48785fdcfdcbba8c5f18f1759ece865aaa28ccca

[2021-01-20 13:33] tusharbaweja264 commented on #51
This fix doesn't work on this issue. Its related to contact fields as mentioned in the crash details "java.lang.NullPointerException: Attempt to read from field 'java.util.ArrayList d.d.meshenger.Database.contacts' on a null object reference"

[2021-01-20 23:02] mwarning commented on #51
Ah, right. I will have a look later this week.

[2021-01-21 17:55] 4DA opened #52 "yggdrasil support"
I have a guilty idea to try meshenger outside of local network using [yggdrasil](https://yggdrasil-network.github.io/)  client [for android](https://f-droid.org/en/packages/io.github.chronosx88.yggdrasil/)

The problem is that ygg uses deprecated 0200::/7 range and meshenger doesn't allow to select yggdrasil ip address bound to interface, i.e my 204:1bcb:d2f7:4fb5:2a6b:e778:6178:e941 isn't on the

[2021-01-21 22:01] mwarning commented on #52
I do not see why it would not work. Do you have a link to a ygg android client. That would help.

[2021-01-21 22:12] 4DA commented on #52
https://f-droid.org/en/packages/io.github.chronosx88.yggdrasil/

[2021-01-21 23:05] mwarning commented on #52
I cannot see a ygg specific interface or address. But the IPv6 global and link local address of my wifi interface is visible.
Maybe the Ygg App needs some configuration? I clicked on "Static IP" - not sure what is does.

The Ygg App gives me (maybe that helps..):
[code]

[2021-01-22 12:12] mwarning commented on #52
I've found the problem. Fixed.

[2021-01-22 12:12] #52 closed

[2021-01-22 13:02] 4DA commented on #52
Thank you :+1:

[2021-01-27 13:00] tusharbaweja264 commented on #51
Hey mwarning, Is there any update on this bug?

[2021-01-27 13:01] tusharbaweja264 commented on #51
Hey mwarning, Is there any update on this bug?

[2021-01-27 16:08] mwarning commented on #51
Sort of, I am in the process of a refactoring and will address it as part of it.

[2021-02-04 16:32] tusharbaweja264 commented on #51
Actually I am stuck due to this particular issue. I'd really appreciate if get any result soon.

[2021-02-04 19:09] mwarning commented on #51
I see. I will have something working in about a week or two.

[2021-02-22 12:39] tusharbaweja264 commented on #51
Any update on this issue?

[2021-02-22 21:56] mwarning commented on #51
I have added hot fix to master, since the refactoring takes more time then expected.
But I was not able to reproduce the error. That is why I cannot guarantee that this bug is fixed.

[2021-03-28 05:36] dbdonb commented on #25
Sorry for the bump, but any update guys?

[2021-03-28 10:09] mwarning commented on #25
hi, I am in the process of refactoring the code. With some luck it will be working afterwards.

[2021-04-29 06:47] aper-project opened #53 "Revoking permission at BackupActivity causes app crashed"
Hi, there, I've found a crash in **Meshenger v3.0.3**, which is downloaded from F-Droid.

I seems that it is related to the dangerous permission `android.permission.READ_EXTERNAL_STORAGE` and the following call chain:
[code]

This call chain does not involve either permission checking (via [checkSelfPermission](https://developer.android.com/reference/androidx/core/content/ContextCompat#checkSelfPe

[2021-04-29 16:36] mwarning commented on #53
If you want to fix it yourself, I can give you some help at least.

[2021-08-14 11:53] olofpp opened #54 "Feature request: Add support for VPN"
Meshenger doesn't find tun0 device and there for doesn't work over VPN.
It would be really nice if users could connect to the same VPN and connect with each other.

[2021-08-14 15:01] mwarning commented on #54
Absolutely, I agree. This is fixed in the current reworked code in the development branch. The problem is, that the code is buggy in other respect and not ready for release and I am hold up with other projects :(

[2021-09-03 00:23] LostSoulfly commented on #31
This would make the app perfect for leaving old devices around the house (or wall mounting them) and acting as a sort of intercom system.

[2022-02-10 17:28] timaschew opened #56 "How this library deals with ICE servers?"
First of all, really awesome idea and work! 🙏

I read that WebRTC is not working without ICE servers. How do you deal with that in this app?
You don't need them, right. Especially if it should work without internet.

I wonder if something similar can be done in a web app (with JavaScript only).

[2022-02-10 18:28] mwarning commented on #56
Hi. thank you.

You can disable ICE in WebRTC. But usually other apps are build that way that they won't give you that option, but in many cases it makes no sense.

But if both parties have no NAT or firewall that prohibits incoming connection + they you have a way to get each others IP address, then it works.

It should be possible in web app as well.

[2022-02-10 18:28] #56 closed

[2022-02-11 13:58] mwarning commented on #56
Oh, and you need to add some code to send the initial handskake yourself.

[2022-04-26 16:38] 002gRTEah3mRYH opened #57 "Will this project be updated again or no?"
Hello,

Will this project be updated again or no?

[2022-04-26 18:13] mwarning commented on #57
Very likely.
The development branch seems to work, but is buggy in some areas.
We will try to get a Student (through GSoC) to work on it and make a release.

Anyone is invided to join development as well, of course.

[2022-05-08 14:53] b450mhdv opened #58 "A confusing widget on "Meshenger" 's UI"
Hello @mwarning  , I enjoy using this app! But I found a small problem with the app's UI design. When I use the app for the first time, I need to enter my name. However, I want to do this after seeing the homepage. So, when I click cancel, I find that the app exits directly. I think this widget may be misleading, and just as a personal suggestion, I think the naming operations can be delayed until

[2022-05-08 14:55] mwarning commented on #58
Yes, this should be removed. A name can be set later.

[2022-06-12 09:09] mwarning commented on #57
* I am still short on time, yes. It's life.
* the PR from @vikulin looks good, but
  * it is essentially a different project (logo, name, version, different focus?)
  * I wonder if it fixes the issue that you cannot receive calls after a few minutes in the background
* @adicoder95 has started efforts to update Meshenger as part of the Google Summer of Code 2022
  * https://github.com/orgs/meshenge

[2022-06-12 09:29] vikulin commented on #57
@mwarning most probably yes, initial tests went good.

Generraly spreaking, CupLink looks like a different project already, BTW I appreciate your work. You can join to continue work on CupLink kotlin version which has been already changed a lot.

Latest release: https://github.com/RiV-chain/CupLink/releases/tag/v0.4.3.6

It focused on an existing secure transport which is true for [RiV-mesh](https

[2022-06-12 09:42] mwarning commented on #57
Hey @vikulin, awesome work you do! We might use some code for the GSoC project (with attribution, of course).

The difference between Meshenger and CupLink seems to be that Meshenger targets any network were you can reach a contact via IP address or hostname, while CupLink is for RiV-mesh. @vikulin please clarify if I am wrong here.

Anyway, Meshengers own crypto is only for the initial packet/han

[2022-06-12 10:28] vikulin commented on #57
Difference between Meshenger and CupLink:
* Mashenger uses MAC address to setup communication interface, CupLink does not.
* Meshenger uses IP to setup communication interface. CupLink **does it** as well, RiV-Mesh provides only IP interface.
* Meshenger uses some internal encryption for transport, CupLink does not, it relays on existing transport encryption as I have already said.
* Meshenger enc

[2022-06-12 10:41] mwarning commented on #57
The MAC address is shared by default in the QR-Code, since  a IP address can be dervied from that.

I wasn't aware that SharedPreferences supports encryption. But I see that EncryptedSharedPreferences is available in androidx. :-)

[2022-06-12 10:54] vikulin commented on #57
Right, EncryptedSharedPreferences implements SharedPreferences interface.

[2022-06-12 20:40] opusforlife2 commented on #57
Great to see the app being worked on as part of GSoC! :)

[2022-06-26 10:15] adicoder95 commented on #58
Fixed that in the GSOC-22 version

[2022-06-26 10:15] #58 closed

[2022-06-26 10:16] adicoder95 commented on #57
Already started you can follow the progress on GSOC-22 branch

[2022-06-26 10:16] #57 closed

[2022-06-26 15:54] opusforlife2 commented on #57
@adicoder95 I'm willing to test dev builds if you need a tester at some point. 👍

[2022-06-26 18:18] adicoder95 commented on #57
Sure I will let you know @opusforlife2

[2022-06-26 18:21] adicoder95 commented on #54
I would look into it and try to integrate in the GSOC-22 branch.

[2022-06-26 18:24] adicoder95 commented on #26
This was because the app wasn't compatible with higher android versions.
But its fixed now, in the GSOC-22 branch.

[2022-06-26 18:24] #26 closed

[2022-06-29 06:47] adicoder95 commented on #39
I can work on the iOS app if that's a requirement.

[2022-06-29 06:49] #39 closed

[2022-06-29 06:51] adicoder95 opened #63 "Should we have an iOS app for meshenger."
I just saw a 2 years old issue asking about if we'll ever have an iOS app.
I have been learning swift for a while now and I believe I can work on the iOS app too.
So if that's a requirement then lets go for it too.

[2022-06-29 07:04] mwarning commented on #63
Well, I have no experience on iOS, but if there is enough time left at the end, then why not :)

[2022-06-29 07:16] adicoder95 commented on #63
I have experience in iOS app so sure, let's think about it once we are done with the Android version.

[2022-06-29 08:15] adicoder95 commented on #57
@opusforlife2 I completed all the stuffs so far and pushed to GSOC-22 branch.
For testing you want me to send you a debug apk?

[2022-06-29 08:24] adicoder95 opened #64 "Testing the new version of Meshenger Android."
Hey everyone,
I am done with all the modifications  as per GSOC-22.
Now what's left and is really important is to test it as much as possible, on several different devices and so on.
So anyone interested in testing can download the debug apk from this [link].(https://drive.google.com/file/d/1DB7SeBq_MTc9zBfdAM829tIGWN_0qyRV/view?usp=sharing)
If you find any bugs, point those with screenshots if po

[2022-07-01 18:33] opusforlife2 commented on #57
Posting it here or in a new "Debug Testing" issue would be fine?

[2022-07-03 15:33] opusforlife2 commented on #64
Oh, sorry. I missed this and just replied in the other issue. Downloading now.

Rather than (or in addition to) a GDrive link, directly attaching the APK to your OP would be great.

Also, maybe change the app and package name to Meshenger Debug or Test for this APK?

[2022-07-04 06:58] opusforlife2 commented on #64
BTW do you have a summarised changelog or release notes anywhere? It would help in testing.

[2022-07-04 19:40] opusforlife2 commented on #64
Right off the bat, opening the test app shows you a name dialog, and then another one saying "No Wifi card found, setup later?" even if Wifi is on and Internet is working. Tapping on "Ok" does nothing but show the dialog again.

If you tap on "skip", you get a mic permission prompt, but another window seems to open behind it (you see an animation giving this impression).

In advanced settings, I c

[2022-08-27 16:01] opusforlife2 commented on #64
@adicoder95 ?

[2022-08-27 16:07] mwarning commented on #64
hi @opusforlife2, sorry for the silence. We have decided to build on top of the master branch instead of the development branch and then integrate code from the development branch to the master branch.

The current code is here: https://github.com/meshenger-app/meshenger-android/tree/GSOC-22_new

@opusforlife2 please have a look, thank you.
@adicoder95 feedback is valuable. Please have a look and

[2022-08-27 16:12] opusforlife2 commented on #64
That's perfectly fine, I just didn't see any acknowledgement so didn't know if my feedback was being taken into account. Please don't hesitate in pinging me when a new debug build needs testing.

[2022-08-27 17:05] adicoder95 commented on #64
@opusforlife2 actually I was working towards the newer version of it, sorry about not responding as I got a bit stuck and forgot about that. Yes I did went through what you said then and tried to resolve the same.
Here is the debug apk of the latest Meshenger version 4.0.0
https://drive.google.com/file/d/1ARogJkEMHEiP226GYuSTUrOT-ZOrKdLf/view?usp=sharing
Thanks.

[2022-09-01 20:08] opusforlife2 commented on #64
- I could successfully add contacts.
- But calls don't work. It says "Error".
- After ending the call, the proximity sensor stays active. Need to swipe away the app to deactivate it.
- Small screens still have layout issues.
- Toggling night mode on and off takes you back to the main app, but on an Android 8 phone, it crashes the app instead.

[2022-09-01 20:35] adicoder95 commented on #64
@opusforlife2 you were connected to the same wifi on both device and still it showed an error??
Was the app open in both device as the apk I shared doesn't has the background call receiving thing active.

[2022-09-01 20:36] opusforlife2 commented on #64
Yep. Same wifi. Both apps in foreground.

[2022-09-01 20:38] adicoder95 commented on #64
can you possibly send a video so I can have a look,
Did you see the address management screen and made sure correct address is selected?

[2022-09-01 20:44] adicoder95 commented on #64
@opusforlife2 I just made a new commit with many fixes. I am attaching a link to the latest apk. Do check and let me know if the error still exists.
https://we.tl/t-99jMqik4h1

[2022-09-01 20:58] opusforlife2 commented on #64
Just opened the app after installing, and instead of the main screen, it took me to the "Display over other apps" system settings.

[2022-09-02 06:32] adicoder95 commented on #64
Yes we need the display over other permission to make the app receive calls in the background.
Exactly the red dot means that the device is not ready to make a call.
I need to look about the proximity sensor, am not really sure about how we can fix it.

[2022-09-03 15:30] opusforlife2 commented on #64
That's not the case with other VoIP-capable apps. Neither Telegram nor Element require it, for example. Just a permanent notification is enough.

[2022-09-03 15:44] opusforlife2 commented on #64
Tried with another phone.
- Both successfully showed green dots.
- Calls were successfully established.
- But no voice could be heard on either device.
- Trying to turn on video caused a crash:

[code]

[2022-09-03 16:56] mwarning commented on #64
@opusforlife2 I also experienced crashes. But every time I try to reproduce it to get a stack trace, it works.

[2022-09-03 16:57] opusforlife2 commented on #64
@mwarning Scoop on F-Droid is amazing for such scenarios, if you have root or adb access.

[2022-09-03 17:15] mwarning commented on #64
I installed scoop. Now I need a crash :D

[2022-09-17 19:57] opusforlife2 commented on #64
Update:
- Got calls to work successfully between two phones! Woohoo!
- The app only shows the other user's video. It should also show your own video.
- Now it seems like the proximity sensor problem only occurs for failed/incomplete/faulty calls. For successful calls, the sensor is correctly disengaged when the call ends.
- If you don't have the app open on a device and it receives a call, picking

[2022-09-23 07:39] Abhishekverma2002 commented on #29
If you want any help regarding the same issue , consider me in.
Would love to contribute

[2022-10-08 21:56] mwarning commented on #64
@opusforlife2 feel free to test again. The issue you have encountered are still present. But that is for the next release.

[2022-10-09 06:29] adicoder95 commented on #64
Nice @mwarning I didn't found any crashes in my android 12 devices.

[2022-10-09 09:28] mwarning commented on #64
@adicoder95 yes, no crashes. But what about bugs?

[2022-10-09 12:37] opusforlife2 commented on #64
@mwarning I'll need a test APK for that.

[2022-10-09 14:34] mwarning commented on #64
I guess it is better to make a release and then a bugfix release to address any issues we encounter. It has been long enough. :-)

[2022-10-09 16:18] opusforlife2 commented on #64
Testing release version 4.0.0 (🎉):
- Calls work perfectly between Android 12 and 10.
- If the app crashes for any reason while video is active, A12 shows the camera still being used (the green dot). Making another call and then cancelling it properly shuts off the camera too. This sounds like the same problem with the proximity sensor I mentioned above.
- For Android 8, the call gets established,

[2022-10-09 16:22] mwarning commented on #64
Ok, thank you. I will take a look next week.

[2022-10-09 16:28] mwarning commented on #54
This should be fixed in the latest release.

[2022-10-09 16:28] #54 closed

[2022-10-09 16:29] mwarning commented on #35
The Cancel button is now labelled Skip and then will generate a random name.

[2022-10-09 16:29] #35 closed

[2022-10-09 16:30] mwarning commented on #53
The backup activity code has been rewritten. This problem does not seem to occur.

[2022-10-09 16:30] #53 closed

[2022-10-09 16:32] #32 closed

[2022-10-09 16:33] mwarning commented on #51
The new code might still have the issue. But let's start new.

[2022-10-09 16:33] #51 closed

[2022-10-09 16:34] mwarning commented on #7
Since we have trouble to get the current feature working at all, let's put this in a feature list and not bother with a whole issue.

[2022-10-09 16:34] #7 closed

[2022-10-09 16:34] #11 closed

[2022-10-09 16:35] mwarning commented on #22
I do not have time to look it this and rather close this to keep stress low :D

[2022-10-09 16:35] #22 closed

[2022-10-10 20:39] mwarning opened #70 "Feature List"
A collection of "planed" features:

- do not ask for overlay permissions! (need so far to receive call in background even after ~10 minutes), see https://developer.android.com/guide/components/activities/background-starts
- more robust / less bugs
- make the "menu passward" setting into an "edit password" setting
- use UDP for intiial connection (like WebRTC does) instead of TCP, this should reduc

[2022-10-12 04:53] adicoder95 opened #71 "[Design] Create graphical assets for play store launch."
As we are ready for the launch of Meshenger app version 4.0.0 , we need to design assets like:
-Screenshots
-Feature Graphics
-Preview App Icon
and other marketing related assets.

[2022-10-12 05:00] adicoder95 opened #72 "[DOCS] Playstore Listing Optimisation."
As we are ready for the launch of Meshenger app version 4.0.0 , we need to design assets like:
-Short description
-Full description
-Privacy Policy
and other text related assets.

[2022-10-12 05:04] adicoder95 opened #73 "Call Improvement"
Implementing a function that can check if the proximity sensor returns True or False, if it returns True the video call should be turned to audio call and if it returns False the call should get on speaker.

[2022-10-12 10:18] Wardhancoder commented on #71
Assign me

[2022-10-12 20:13] mwarning opened #75 "Rename variables from underscore to CamelCase"
Kotlin (or rather Android Studio) complains about local varaibles that have underscores.
All such variables need to be renamed. E.g. "new_from" => "newFrom"

[2022-10-13 12:20] Rarj commented on #75
hi @mwarning , it means you want to replace snake_case into CamelCase on the whole project?
can you please assign it to me?

thanks!

[2022-10-13 13:14] Ankitcoder95 commented on #72
Interested, assign me.

[2022-10-13 16:54] mwarning opened #78 "Bug List"
* fix calling over hotspot of one device, probably by using UDP for initial connection

[2022-10-13 17:02] mwarning commented on #43
I haven't seen the problem for a while. So I hope it is fixed. Please report again if it appears. Thank you. :-)

[2022-10-13 17:02] #43 closed

[2022-10-14 07:09] adicoder95 opened #82 "[Design] Create graphical assets for play store launch."
We need screenshots of Tablet for the app listing on the play store.

[2022-10-14 12:05] 002gRTEah3mRYH commented on #57
updated, nice

[2022-10-14 17:05] #71 closed

[2022-10-16 09:49] GeorgeET15 commented on #75
Is this is issue still open ?

[2022-10-16 18:01] mwarning commented on #75
yes, so far.

[2022-10-19 19:10] mwarning opened #84 "Fix rounds_black.otf': No such file or directory"
On startup of the debug build, there is this error:

[code]

[2022-10-22 16:05] zhubinsheng commented on #63
do it by flutter for android/ios/pc

[2022-10-22 22:05] mwarning commented on #63
whoever has flutter experience, feel free to go ahead.

[2022-10-26 22:31] mwarning commented on #64
@opusforlife2 let's hope the bug is fixed now. Please create a new issue if it appears again.

[2022-10-26 22:31] #64 closed

[2022-10-26 22:38] mwarning commented on #47
I assume this is fixed now. Please reopen this ticket or create a new one if it is still present. Thank you.

[2022-10-26 22:38] #47 closed

[2022-10-26 22:38] opusforlife2 commented on #64
No problem. Please also look at the other issues I've mentioned here for future versions.

[2022-10-29 19:37] opusforlife2 commented on #64
A very small thing: since Meshenger has a permanent notification running, you could remove the time-ago from the notification header.

[2022-10-29 20:29] mwarning commented on #64
@opusforlife2 thank you for the feedback, done here https://github.com/meshenger-app/meshenger-android/commit/2cc3ef131856db16b6271392b095d58396c0b1ef

[2022-11-23 04:01] Ygarr opened #87 "Cannot connect"
Contact added successfully. But with Internet in same LAN all contacts are red so no call connection between them.
If connect to each other via hotspot on one of phones both contacts are yellow, but still unable make a call - attempt ends with an error

[2022-11-23 18:54] mwarning commented on #87
This can have different causes. Most often, the WIFi MAC address (and therefore the link local fe80::* address) of the target changed. This is causes by MAC address randomization being enabled.

Go to the address setting and click on it. If it is red, then the selected address cannot be found on the system anymore.

The solution is to make the WiFi MAC address for the WiFi network (SSID) permanent

[2022-11-27 08:46] Kazaf123 opened #88 "Accessibility issues in GUIs"
**Description**
This is a bug report about components that have accessibility issues within the GUI of such an App.
Also, as the following Figure, this report focuses on the content GUI page in the App.
<img width="360" alt="MuMu20221127164324" src="https://user-images.githubusercontent.com/44084361/204126459-cc8c87c4-0858-4817-983d-b2ee79093382.png">
**Content**
After I applied my proposed tool t

[2022-11-27 15:09] mwarning commented on #88
Yes, that's rather small. I will try to increase the font size.

[2022-11-27 15:18] Kazaf123 commented on #88
Thanks a lot! Looking forward to the results of your adjustment.

---- Replied Message ----
| From | Moritz ***@***.***> |
| Date | 11/27/2022 23:09 |
| To | ***@***.***> |
| Cc | Mengxi ***@***.***>***@***.***> |
| Subject | Re: [meshenger-app/meshenger-android] Accessibility issues in GUIs (Issue #88) |

Yes, that's rather small. I will try to increase the font size.

—
Reply to this email direc

[2022-11-27 21:27] mwarning commented on #88
![Screenshot_20221127_223227](https://user-images.githubusercontent.com/546193/204160584-76912644-f3df-42fb-9f2c-e82b6b6bc8ee.png)

I hope that is better.

[2022-11-27 21:31] #88 closed

[2022-11-27 21:47] mwarning commented on #87
I have added a small section here: https://github.com/meshenger-app/meshenger-android/blob/master/docs/documentation.md

But it might not be very good so far. In progress.